$textColor       : #fff3d6;
$primaryBG       : #3d2937;
$secondaryBG     : #612f48;
$darkBG          : #271a23;
$primaryBorder   : #714059;
$primaryBlue     : rgb(104, 192, 243);
$buttonYellowGrad: linear-gradient(0deg, #ffb703, #f7cf3e);
$primaryYellow   : #ffd800;
$secondaryYellow : #f8cc37;
$white: #ffffff;